#post_li{
    font-size: 15px;
}
#post_ul{
    list-style: none;
    padding-inline-start: 0px;
}
#posts_contents{
    padding: 20px;
}
#post_first_row{
    margin-bottom: 30px;
}
#post_right{
    padding-top: 15px;
}
#post_content_title{
    width: 300px;
}
#posts_contents{
    width: 300px;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#post_content{
    width: 300px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
